/* home.css */

.hom {
  /* background-image: url('../Image/home_image1.jpg'); */
  /* background-image: url('../Image/Home\ .jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f42a;
  /* height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.hom h1 {
   font-family:parsisenne; 
   font-family:Noelan;
  color: #011b1a; /* You can choose your desired color */
   font-size: 90px;

} 
.homeimage
{
 margin-top: -380px;
}


.quote
{
 font-size: 70px;
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding-left: 30%;
}